.content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
    margin: 0 100px;
    background-image: url("https://github.com/Tyrannofloresrex/PokeBatEx/blob/development/assets/images/download-2.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
};
.battle-home {
    display: flex;
    justify-content: center;
    align-items: center;
};

.buttons {
    display: flex;
    justify-content: center;   
};
.banner {
    background-color: yellow;
};
#table {
    background: transparent;
};
#middle-image {
    background-image: url(/assets/images/battle-win-middle.png)
};