
.content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin: 0 100px;
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f4d65dd-57b0-4a37-8df3-f4c2c7f98c60/d50ccqa-f9ee059b-27f8-4ea2-a55f-ff9573fa53c0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmY0ZDY1ZGQtNTdiMC00YTM3LThkZjMtZjRjMmM3Zjk4YzYwXC9kNTBjY3FhLWY5ZWUwNTliLTI3ZjgtNGVhMi1hNTVmLWZmOTU3M2ZhNTNjMC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.OqTLUStwiJLBYItALH3QbaXpvnTvhKmN0zUleG9W3BI");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto; */
};
.battle-home {
    display: flex;
    justify-content: center;
    align-items: center;
};
#buttons {
    display: flex;
    justify-content: center; 
    margin-top: 100px;
};
marquee {
    background-color: yellow;
    color: yellow;
};
#table {
    /* background: transparent; */
};
.middle-image {
    display: flex;
    justify-content: center;
    /* background-size: cover; */
};
#user-pokemon {
    /* transform: scale(1.1); */
};


/* #user, #img, #wild {
    float: left;
}; */
