/* Outer layer styles */
body{
    background-color:black
}
.banner {
    text-shadow: 7px 6px 4px rgb(32, 18, 224);
}
.title {
    border-radius: 8px;
    font-size: 18px;
}
/* Gallery styles */
#gallery-border {
    background-color: white;
    border-radius: 10%
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/Dribbble-pokemon-template-poke-stop-test.gif-by-Rise-Vision.gif);
    background-size: cover;
    border-radius: 10%;
    background-position: center center;
}
   
div.gallery {
    width: auto;
    max-height: 1000px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px 20px;
}
/* Image styles */
img {
    margin: 16px 16px;
    border-style: solid;
    border-radius: 10px;
}
img.selectedIMG {
    border: 6px dashed green;
}

#button-box {
    display: flex;
    justify-content: center;
}

 .menu-button {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    div{
    width: 100%;
    }
}