body {
    background: black;
}

#test {
    border-radius: 10%;
    background-image: url(../images/pokemon-starting-screen-finished.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    background-position: center center;
}

.banner {
    color: rgb(233, 236, 45);
    text-shadow: 7px 6px 4px rgb(32, 18, 224);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 185px auto;
    border-style: none;
}
#container {
    border-radius: 10%;
    width: 70vw;
    height: 35vh;
<<<<<<< HEAD
}

@media screen and (max-width: 625px) {
    #container {
        border-style: none;
    }
    li {
        color: rgb(246, 72, 29);
    }
}
=======
};
>>>>>>> development
